body {
  background: pink;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 200;
}

a.active {
  color: red;
}

.App {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.Nav {
  list-style-type: none;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0;
  background: #fff;
  height: 30px;
  padding: 10px;
}

.Nav__Img {
  margin-right: 5px;
}

.Pad {
  position: fixed;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
}

.Pad--authenticated {
  cursor: none;
}

