body {
  background: pink;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 200;
}

a.active {
  color: red;
}

.App {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.Nav {
  left: 0;
  right: 0;
  background: #fff;
  height: 24px;
  padding: 10px;
}

.Nav__List {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Nav__List--left {
  float: left;
}

.Nav__List--right {
  float: right;
}


.Nav__Img {
  margin-right: 5px;
  vertical-align: middle;
}

.Nav__Link {
  color: inherit;
}

.Pad {
  position: fixed;
  left: 0;
  right: 0;
  top: 44px;
  bottom: 0;
}

.Pad--authenticated {
  cursor: none;
}

